// --- Startup Processes ---
// Add your status bar, wallpaper daemon, or notifications here.
// spawn-at-startup "waybar"
// spawn-at-startup "swww-daemon"
spawn-at-startup "noctalia"
//
// *** FYI. REMOVE DESKTOP FILES FROM ~/.config/autostart/*.desktop
// OR THEY MAY START IN ADDITION TO WHAT IS DEFINED HERE
//
// *** CANNOT GET SLEEP TO WORK AHEAD OF THESE COMMANDS HERE SO PUT IN WRAPPERS INSTEAD
// Start Steam
// spawn-at-startup "bash -c 'steam -silent'"

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}
