// You can change the path where screenshots are saved (set to null to disable)
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
// GTK_THEME now handled by home manager features/theming.nix
// environment {
//     GTK_THEME "Adwaita:dark"
// }
