// Monitor and Display Output Configuration
// https://github.io

// Desktop monitor is DP-1 but we will match exactly from this command:
// niri msg outputs
output "HKC OVERSEAS LIMITED GA01 0000000000001" {
    mode "2560x1440@164.999"
//    variable-refresh-rate
}

// The built-in laptop monitor is usually called "eDP-1".
// Find more information on the wiki:
output "eDP-1" {
    mode "1920x1080@120.030"
    scale 2
    transform "normal"
    position x=1280 y=0
}

// For running gamescope in HDR, direct-scanout  allows it to bypass Niri's composition overhead 
// sending frames direct to monitor for lower latency
// direct-scanout is enabled by default but can be disabled for debug e.g. performance drops, display flickering
// debug {
//    disable-direct-scanout
// }
